<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero1.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,154},{148,148}}</string>
                <key>offset</key>
                <string>{10,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,5},{148,148}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>hero2.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,154},{158,150}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{158,150}}</string>
                <key>sourceSize</key>
                <string>{158,150}</string>
            </dict>
            <key>hero_fire1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,302},{140,152}}</string>
                <key>offset</key>
                <string>{18,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,1},{140,152}}</string>
                <key>sourceSize</key>
                <string>{140,152}</string>
            </dict>
            <key>hero_fire2.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,2},{134,150}}</string>
                <key>offset</key>
                <string>{24,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,3},{134,150}}</string>
                <key>sourceSize</key>
                <string>{134,150}</string>
            </dict>
            <key>hero_fire3.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,304},{134,152}}</string>
                <key>offset</key>
                <string>{24,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,1},{134,152}}</string>
                <key>sourceSize</key>
                <string>{134,152}</string>
            </dict>
            <key>hero_hit1.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,306},{158,134}}</string>
                <key>offset</key>
                <string>{9,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,19},{158,134}}</string>
                <key>sourceSize</key>
                <string>{158,134}</string>
            </dict>
            <key>hero_hit2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{190,140}}</string>
                <key>offset</key>
                <string>{10,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,13},{190,140}}</string>
                <key>sourceSize</key>
                <string>{190,140}</string>
            </dict>
            <key>hero_jump.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{156,156}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{156,156}}</string>
                <key>sourceSize</key>
                <string>{156,156}</string>
            </dict>
            <key>hero_run.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,2},{158,150}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{158,150}}</string>
                <key>sourceSize</key>
                <string>{158,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero.png</string>
            <key>size</key>
            <string>{491,444}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:538346f99259c4caac4b46e374001c74$</string>
            <key>textureFileName</key>
            <string>hero.png</string>
        </dict>
    </dict>
</plist>
